{% extends 'base.html.twig' %}
{% block javascriptHead %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well well-sm">
                        <h1 class="post-title item featured text-center">
                            <p>{{ post.titre }}</p>
                        </h1>
                        <h3 class="post-subtitle item featured text-center">
                            <p>{{ post.chapo }}</p>
                        </h3>
                    <hr>
                    {% autoescape %}
                    <p>{{ post.content|raw }}</p>
                    {% endautoescape %}
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm ">
                    <h2 class="item featured text-center">Commentaires</h2>
                    <hr>
                    {% for comment in comments %}
                    <h3 class="post-title">
                        <p>Nom : {{ comment.nom }}</p>
                    </h3>
                        <p>Message : {{ comment.content }}</p>

                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                    <h3 class="title item featured text-center">Poster un Commentaire</h3>
                    {% for message in app.flashes('notice5') %}
                        <div class="flash-notice item featured text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="item featured text-center">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="g-recaptcha item featured text-center" data-sitekey="6LdJ12AUAAAAAEmHjRFknr1eKQaMIe5jXHlBQsGH"></div>

                    <input type="submit" class="btn btn-cta-primary" />
                    {{ form_end(form) }}
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}