{% extends 'base.html.twig' %}
{% block javascriptHead %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                        <h2 class="post-title">
                            <p>{{ post.titre }}</p>
                        </h2>
                        <h3 class="post-subtitle">
                            <p>{{ post.chapo }}</p>
                        </h3>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                    {% for comment in comments %}
                    <h3 class="post-title">
                        <p>{{ comment.nom }}</p>
                    </h3>
                    <h4 class="post-subtitle">
                        <p>{{ comment.content }}</p>
                    </h4>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                    <h2>Commentaires</h2>
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="g-recaptcha" data-sitekey="6LdJ12AUAAAAAEmHjRFknr1eKQaMIe5jXHlBQsGH"></div>

                    <input type="submit" class="btn btn-cta-primary" />
                    {{ form_end(form) }}
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}